{% extends 'base.html' %}

{% block content %}
<h2>{{ location.city }}</h2>

{% for hotel in hotels %}
<div class="panel panel-default">
    <div class="panel-heading"><b>{{ hotel.name }}</b></div>
    <div class="panel-body">
        <div id="rates{{ hotel.id }}">
            {% for rate in hotel.rates %}
                {% if rate.govt_rate != None and rate.commercial_rate != None %}
                    <p><b>Date: {{ rate.arrive.strftime('%A, %b %-d') }}</b></p>
                    <p>Government Rate: 
                        {% if rate.govt_rate == None %}
                            Not available
                        {% else %}
                            <a href="{{ rate.govt_link }}">{{ rate.govt_rate }}</a>
                        {% endif %}
                    </p>
                    <p>Commercial Rate: 
                    {% if rate.commercial_rate == None %}
                        Not available
                    {% else %}
                    <a href="{{ rate.commercial_link }}">{{ rate.commercial_rate }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}