{% extends 'base.html' %}

{% block content %}
<h2>{{ location.city }}</h2>

{% for hotel in hotels %}
<div class="panel panel-default">
    <div class="panel-heading"><b>{{ hotel.name }}</b></div>
    <div class="panel-body">
        <a class="btn btn-primary" data-toggle="collapse" href="#rates{{ hotel.id }}" aria-expanded="false" aria-controls="collapseExample">
    View Rates
  </a>
        <br/><br/>
        <div id="rates{{ hotel.id }}" class="collapse">
            {% for rate in hotel.rates %}
            <p>Date: {{ rate.arrive.strftime('%A, %b %-d') }}</p>
            <p>Rate: <a href="{{ rate.govt_link }}">{{ rate.govt_rate }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}